:root{
    --border-radius-sm: 5px;
    --light-blue: #bcdbdf;
    --dark-blue: #235784;
}

.bg-light-blue{
    background-color: var(--light-blue) !important;
}
.bg-dark-blue{
    background-color: var(--dark-blue) !important;
}
.color-light-blue{
    color: var(--light-blue) !important;
}
.color-dark-blue{
    color: var(--dark-blue) !important;
}